@model LibraryApplication.Models.BookModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Jesteś pewny że chcesz usunąć tą książkę?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bookID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfPublication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfPublication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-danger">Wróć do listy książek</a>
    </form>
</div>
