@model IEnumerable<LibraryApplication.Models.BookModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj książkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.bookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfPublication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.bookID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateOfPublication.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new {  id=item.bookID  }, new { @class = "btn btn-warning" }) 
                    @Html.ActionLink("Usuń", "Delete", new { id=item.bookID  }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Zarezerwuj", "Details", new { /* id=item.PrimaryKey */ }) 
                </td>
            </tr>
        }
    </tbody>
</table>
